fuel/app/classes/controller/wsdl/LincolnCommonBtoBServiceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. -->
<definitions targetNamespace="http://service.commonb2b.lincoln.seanuts.co.jp/" name="LincolnCommonBtoBServiceService" xmlns:tns="http://service.commonb2b.lincoln.seanuts.co.jp/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.commonb2b.lincoln.seanuts.co.jp/" schemaLocation="LincolnCommonBtoBServiceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="AgtRoomTypeDownload">
    <part name="parameters" element="tns:AgtRoomTypeDownload"/>
  </message>
  <message name="AgtRoomTypeDownloadResponse">
    <part name="parameters" element="tns:AgtRoomTypeDownloadResponse"/>
  </message>
  <message name="PlanDownload">
    <part name="parameters" element="tns:PlanDownload"/>
  </message>
  <message name="PlanDownloadResponse">
    <part name="parameters" element="tns:PlanDownloadResponse"/>
  </message>
  <message name="StockDataDownload">
    <part name="parameters" element="tns:StockDataDownload"/>
  </message>
  <message name="StockDataDownloadResponse">
    <part name="parameters" element="tns:StockDataDownloadResponse"/>
  </message>
  <message name="TariffDataDownload">
    <part name="parameters" element="tns:TariffDataDownload"/>
  </message>
  <message name="TariffDataDownloadResponse">
    <part name="parameters" element="tns:TariffDataDownloadResponse"/>
  </message>
  <message name="AgtRoomStatusUpdateArray">
    <part name="parameters" element="tns:AgtRoomStatusUpdateArray"/>
  </message>
  <message name="AgtRoomStatusUpdateArrayResponse">
    <part name="parameters" element="tns:AgtRoomStatusUpdateArrayResponse"/>
  </message>
  <message name="PlanStatusUpdateArray">
    <part name="parameters" element="tns:PlanStatusUpdateArray"/>
  </message>
  <message name="PlanStatusUpdateArrayResponse">
    <part name="parameters" element="tns:PlanStatusUpdateArrayResponse"/>
  </message>
  <message name="LoginConfirm">
    <part name="parameters" element="tns:LoginConfirm"/>
  </message>
  <message name="LoginConfirmResponse">
    <part name="parameters" element="tns:LoginConfirmResponse"/>
  </message>
  <message name="PlanSalesPeriodUpdate">
    <part name="parameters" element="tns:PlanSalesPeriodUpdate"/>
  </message>
  <message name="PlanSalesPeriodUpdateResponse">
    <part name="parameters" element="tns:PlanSalesPeriodUpdateResponse"/>
  </message>
  <portType name="LincolnCommonBtoBService">
    <operation name="AgtRoomTypeDownload">
      <input message="tns:AgtRoomTypeDownload"/>
      <output message="tns:AgtRoomTypeDownloadResponse"/>
    </operation>
    <operation name="PlanDownload">
      <input message="tns:PlanDownload"/>
      <output message="tns:PlanDownloadResponse"/>
    </operation>
    <operation name="StockDataDownload">
      <input message="tns:StockDataDownload"/>
      <output message="tns:StockDataDownloadResponse"/>
    </operation>
    <operation name="TariffDataDownload">
      <input message="tns:TariffDataDownload"/>
      <output message="tns:TariffDataDownloadResponse"/>
    </operation>
    <operation name="AgtRoomStatusUpdateArray">
      <input message="tns:AgtRoomStatusUpdateArray"/>
      <output message="tns:AgtRoomStatusUpdateArrayResponse"/>
    </operation>
    <operation name="PlanStatusUpdateArray">
      <input message="tns:PlanStatusUpdateArray"/>
      <output message="tns:PlanStatusUpdateArrayResponse"/>
    </operation>
    <operation name="LoginConfirm">
      <input message="tns:LoginConfirm"/>
      <output message="tns:LoginConfirmResponse"/>
    </operation>
    <operation name="PlanSalesPeriodUpdate">
      <input message="tns:PlanSalesPeriodUpdate"/>
      <output message="tns:PlanSalesPeriodUpdateResponse"/>
    </operation>
  </portType>
  <binding name="LincolnCommonBtoBServicePortBinding" type="tns:LincolnCommonBtoBService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="AgtRoomTypeDownload">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="PlanDownload">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="StockDataDownload">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="TariffDataDownload">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AgtRoomStatusUpdateArray">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="PlanStatusUpdateArray">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="LoginConfirm">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="PlanSalesPeriodUpdate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="LincolnCommonBtoBServiceService">
    <port name="LincolnCommonBtoBServicePort" binding="tns:LincolnCommonBtoBServicePortBinding">
      <soap:address location="http://219.127.193.206/lincoln/soap"/>
    </port>
  </service>
</definitions>

